:root {
    --border-radius: 5px;
    --block-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    --element-box-shadow: 0 1px 3px -2px #9098a9;
    --block-gap: 40px;

    --color-primary: #F1692F;
    --color-primary-dark: color-mix(in srgb, black 15%, var(--color-primary));
    --color-error: #d6152b;
    --color-error-dark: color-mix(in srgb, black 15%, var(--color-error));
    --color-submit: #2ABFA1;
    --color-submit-dark: color-mix(in srgb, black 15%, var(--color-submit));
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../image/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--block-gap);
}

.student-info {
    width: 50em;
    padding: 2em;
    border-radius: var(--border-radius);
    box-shadow: var(--block-box-shadow);
    text-align: center;
    background-color: var(--color-primary);
    color: white;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--block-gap);
}

.control {
    flex-basis: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--block-gap);
}

.plot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shot-form {
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--block-box-shadow);
    border-collapse: collapse;
    padding: 1em;
    width: 50em;
}

.input-block {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.input-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-basis: 100%;
    gap: 1em;
    row-gap: 6px;
}

.input-label {
    font-size: 1.4em;
    width: 1em;
}

input[type='radio'] {
    display: none;
}

.radio-label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
}

.radio-label::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid var(--color-primary);
    border-radius: 1em;
    z-index: -1;
}

input[type='radio']:checked + .radio-label {
    padding-left: 1em;
    color: white;
}

input[type='radio']:checked + .radio-label::before {
    top: 0;
    width: 100%;
    height: 2em;
    background: var(--color-primary);
}

.radio-label,
.radio-label::before {
    transition: 0.25s all ease;
}

.text-input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.75rem;
    outline: none;
    border-radius: var(--border-radius);
    box-shadow: var(--element-box-shadow);
    transition: background 0.2s, border-color 0.2s;
}

.text-input:focus {
    border-color: var(--color-primary);
    background: white;
}

.text-input:invalid {
    color: var(--color-error);
    border-color: var(--color-error);
}

.radio {
    width: 100%;
    padding: 1em 2em;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--element-box-shadow);
    cursor: pointer;
}
.radio:active {
    transform: scale(0.98);
}
.submit-button {
    background: var(--color-primary);
}
.submit-button:hover {
    background: var(--color-primary-dark);
}
.clear-button {
    margin-top: calc(-1 * var(--block-gap) / 2);
    background: var(--color-submit);
}
.clear-button:hover {
    background: var(--color-submit-dark);
}

.table {
    flex-basis: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#shot-table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: var(--block-box-shadow);
}

#shot-table thead tr {
    background-color: var(--color-primary);
    color: white;
    text-align: left;
    font-weight: bold;
}

#shot-table th,
#shot-table td {
    padding: 12px 15px;
}
